@import "tailwindcss";
@plugin "daisyui" {
  themes: light --defualt;
}
body{
  background-color: #E9E9E9;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #FFFFFF;
  --color-base-200: #E9E9E9;
  --color-base-300: #001931;
  --color-base-content: oklch(20% 0.05 240);
  --color-primary: blue;
  --color-secondary: oklch(70% 0.25 200);
  --color-accent: #627382;
}

/* Custom button override -- */
.btn-primary {
  @apply bg-gradient-to-r from-[#632EE3] to-[#9f62f2] text-white
}
.btn-primary:hover {
  @apply opacity-90
}